<!DOCTYPE html>
<html>
  <head>
    <link href="https://oil-limk.github.io/zConlangs/@src/Templates/template.css"
    rel="stylesheet">
    <link rel="shorcut icon"
    href="https://oil-limk.github.io/zConlangs/@src/Img/favicon.ico">
    <link rel="apple-touch-icon"
    href="https://oil-limk.github.io/zConlangs/@src/Img/apple-icon.png">
    <link rel="image_src"
    href="https://oil-limk.github.io/zConlangs/@src/Img/apple-icon.png">
    <title>
      {{% Title %}}
      {{% End Block %}}
    </title>
  </head>
  <body bgcolor="#1F1F1F", style="color:#eeeeee; text-align:justify;
  font-family: Arial, Helvetica, sans-serif; font-size: 16px;">
    {{% Content Block %}}
    {{% End Block %}}
    <br>
    <a href="..", title="go back">
      <img src="https://oil-limk.github.io/zConlangs/@src/Arrows/goBack.png"
      alt="Go Back Arrow" width="60" height="45">
    </a> 
  </body>
</html>