<!DOCTYPE html>
<html>
  <head>
    <link href="template.css" rel="stylesheet">
    <link rel="shorcut icon"
    href="https://oil-limk.github.io/Conlangs/@src/Img/favicon.ico">
    <link rel="apple-touch-icon"
    href="https://oil-limk.github.io/Conlangs/@src/Img/apple-icon.png">
    <link rel="image_src"
    href="https://oil-limk.github.io/Conlangs/@src/Img/apple-icon.png">
    <title>{{% Title %}}
      {{% End Block %}}</title>
  </head>
  <body>
    {{% Content Block %}}
    {{% End Block %}}
    <br>
    <a class="nor" href=".." title="Go Back">
      <img src="https://oil-limk.github.io/Conlangs/@src/Img/goBack.png"
      alt="Go Back" width="60" height="45">
    </a> 
  </body>
</html>