<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://oil-limk.github.io/Conlangs/src/templates/wiki.css" rel="stylesheet">
    <link rel="shorcut-icon" href="src/img/favicon.ico">
    <link rel="apple-touch-icon" href="src/img/apple-icon.png">
    <link rel="image-src" href="src/img/apple-icon.png">
    <title>Template</title>
  </head>
  <body>
    <h1>Template</h1>
    <p>
      This is a template page. In this page you'll find all the
      posible styles that a page in this wiki can have.
    </p>
    <h2 id="section">Section</h2>
    <p>
      This is a section of a page. It may contain plain text,
      tables, subsections, etc. Examples for all of these will
      be provided on the next few sections.
    </p>
    <h2 id="subsections">Subsections</h2>
    <p>
      This section contains two subsections.
    </p>
    <h3>First Subsection</h3>
    <p>
      Easily the most boring one.
    </p>
    <h3>Second Subsection</h3>
    <p>
      Clearly the coolest one.
    </p>
    <h2 id="hyperlinks">Hyperlinks</h2>
    <p>
      <a href="#hyperlinks">This link</a> links to this section.
      In fact, every section has its own hyperlink. Each one of
      these follows the same pattern: <i>page_url#section_name</i>.
    </p>
    <p>
      Here is a list of the hyperlinks of all the sections on this
      page:
      <ul>
        <li><a id="#section">Section</a></li>
        <li><a id="#subsections">Subsections</a></li>
        <li><a id="#hyperlinks">Hyperlinks</a></li>
        <li><a id="#tables">Tables</a></li>
      </ul>
    </p>
    <h2 id="tables">Tables</h2>
    <p>
      WIP
    </p>
  </body>
</html>
